name: Convert Text to TI-84 Programs

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install tivars
        run: pip install tivars

      - name: Convert files
        run: python convert.py

      - name: Upload .8xp artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ti-programs
          path: bin/