name: Convert TXT to 8XP

on:
  push:
    branches:
      - main
#    paths:
#     - 'src/**.txt'
  workflow_dispatch:

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install tivars
        run: pip install tivars

      - name: Run Conversion
        run: python convert.py

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: ti-programs
          path: bin/